.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  padding:2px 0px;
}

.editor {
  width: 100%;
  height: 40vh;
}

@media (min-width: 1024px) {
  .sidebar {
    width: 15vw;
    margin-top: 0;
  }

  .editor {
    width: 85vw;
    height: 85vh;
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .editor {
    width: 100%;
    height: 50vh;
  }
   .flex-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 0.6em;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.items-center {
  align-items: center;
}

.space-x-2 > *:not(:last-child) {
  margin-right: 8px;
}

.welcome-text {
  color: #000;
  font-weight: bold;
}

.signout-container {
  display: flex;
  align-items: center;
  border: 1px solid #d1d1d1; /* border-gray-300 */
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #fff;
  transition: background-color 0.25s;
}

.signout-container:hover {
  background-color: #fff;

  transition: 0.5s all ease;
}

.signout-button {
  font-weight: bold;
  color: #4a4a4a; /* text-gray-700 */
  background: none;
  border: none;
  cursor: pointer;
}

.signout-button span:hover {
  color: #000; /* Black text */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .welcome-text {
    color: #fff; /* text-white */
  }

  .signout-container {
    background-color: #000; /* dark:bg-black */
    color: #fff;
    border-color: #666; /* dark:border-gray-500 */
  }

  .signout-button span {
    color: #fff;
  }
}
