/* EditorComponent.css */

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.096);
  border-radius: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.editor {
  width: 100%;
  height: 70vh;
}

.output {
  background-color: #d8dbcc;
  height: 22.3vh;
  overflow-y: auto;
  padding: 1rem;
  margin: 0.5rem;
  border: 3px solid rgba(0, 0, 0, 0.096);
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .layout {
    flex-direction: row;
  }

  .sidebar {
    width: 15vw;
    margin-top: 0;
  }

  .editor {
    width: 85vw;
    height: 70vh;
  }
}
