/* LandingPage.css */
.landing-page {
    text-align: center;
    margin-top: 100px;
  }
  
  .landing-page h1 {
    font-size: 4em;
    color: #333;
  }
  
  .landing-page a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007bff;
    font-size: 1.2em;
  }
  
  .landing-page button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #252525;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  /* Media query for screens smaller than 768px */
  /* for mobile responsiveness for Landing page edit this only */
  @media (max-width: 768px) {
    .landing-page h1 {
      font-size: 2em;
    }
  
    .landing-page a {
      font-size: 1em;
    }
  
    .landing-page button {
      padding: 8px 15px;
      font-size: 1em;
    }
  }